/******************************************************************************************************************************************************************************
* BASICS
******************************************************************************************************************************************************************************/

html { font-size: 17px; height: 100%; }

body 
{
	background: #1a1a1a; 
	background: #9fa8a3;
	padding : 0; 
	margin: 0; 
	width: 100%; 
	max-width:100%;
	min-width: 320px; 
	height: 100%;
	position: relative; 
	background:	#ecf0f1;
	font-size: 17px;
}

.maincont
{
	padding: 0;
	margin: 0;
	height: 100%;
}

.fold 
{	
	padding: 0;
	margin: 0;
	height: 100%;
	min-width: 220px;
	background: #22313F;


	div {
		margin-bottom: 5px;
		background: #2c3e50; /* navy */
	}

	.portrait {
		padding: 15% 0 5% 0;

		.name {
			text-align: center;
			color: #e3e0cf;
			font-family: Jura;
			font-size: 1.3em;

			.glyphicon{
				font-size: 0.75em;
			    vertical-align: middle;
			    margin-top: -0px;
			}
		}
	}

	.mainmenu {
		padding: 5% 0 5% 0;
		text-transform: uppercase;
		font-family: Jura;
		font-size: 1.1em;
	}
}	

.list {
	padding: 0;

	a {
		text-decoration: none;
		color: #e3e0cf;
	}

	li {
		padding: 5% 15%;
 
		.glyphicon{
			padding-right: 10%;
			vertical-align: middle;
			margin-top: -5px;
		}

		&:hover {
			border-left: 5px solid #1E8BC3;
			
		}
	}
 }
