/******************************************************************************************************************************************************************************
* BASICS
******************************************************************************************************************************************************************************/

html { font-size: 17px; height: 100%; }

body 
{
	background: #1a1a1a; 
	padding : 0; 
	margin: 0; 
	width: 100%; 
	max-width:100%;
	min-width: 320px; 
	height: 100%;
	position: relative; 
	background:	#ecf0f1;
	font-size: 17px;
}

.maincont
{
	padding: 0;
	margin: 0;
	height: 100%;
}

.fold 
{	
	padding: 0;
	margin: 0;
	height: 100%;
	background: #2c3e50; /* navy */

}	

 