/** Colors **/
$darknav: #22313F;
$navy: #2c3e50;

$palette1: #9fa8a3;
$palette2: #e3e0cf; 
$palette3: #c5d5cb;
$palette4: #c5d5cb;


/** Util **/
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


/** Main **/
html { font-size: 17px; height: 100%; }

h1 {    }

.herotitle {
	position: absolute;
	top: 10%;
   	left: 50%;
	transform: translate(-50%, 0 );
	padding: 15px;
	display: inline-block;
	border: 3px solid white;
	font-family: "Lobster";
	font-size: 7em;
	color: white;

}
body 
{
	/*background: #1a1a1a; */
	padding : 0; 
	margin: 0; 
	width: 100%; 
	max-width:100%;
	min-width: 320px; 
	height: 100%;
	position: relative; 
	font-size: 17px;
}

.maincontainer
{
	padding: 0;
	margin: 0;
	height: 100%;
	 
}

.fold 
{	
	padding: 0;
	margin: 0;
	height: 100%;
	min-width: 220px; 
	background: $darknav;

	-webkit-transition: width 1s ease-in-out; 
 	transition: width 1s ease-in-out; 


	div {
		margin-bottom: 5px;
		background: $navy;
	}

	.logo {
		padding: 5px;
	}

	.portrait {
		padding: 10% 0 5% 0;

		.name {
			text-align: center;
			color: #e3e0cf;
			font-family: Jura;
			font-size: 1.3em;

			.glyphicon{
				font-size: 0.75em;
			    vertical-align: middle;
			    margin-top: -0px;
			}
		}
	}

	.mainmenu {
		padding: 5% 0 5% 0;
		text-transform: uppercase;
		font-family: Jura;
		font-size: 1.1em;
	}
}	

.list {
	padding: 0;

	a {
		text-decoration: none;
		color: #e3e0cf;
	}

	li {
		padding: 5% 15%;
		border-left: 5px solid $navy;
 
		.glyphicon{
			padding-right: 10%;
			vertical-align: middle;
			margin-top: -5px;
		}

		&:hover {
			border-left: 5px solid #1E8BC3;
			background: #22313F;
			cursor: pointer;
		}
	}
 }

 .background {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	margin: 0;
 	padding: 0;
 	background:  url(../css/images/hero/blur.jpg) center 0 no-repeat fixed;
 	.row {
 		margin: 0;
 	}
 }

 .maincontent {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	margin: 0;
 	padding: 0;
 	background: rgba(26,26,26,0.75);
 }
